<!doctype html>
<html lang="de">
    {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}

    <h1>Einstellungen</h1>
    <form>
        <div class="setting">
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="{{ settings.volume }}" class="slider" id="slVolume">
                <label class="custom-control-label" for="slVolume"><strong>&nbsp;Lautstärke</strong></label>
            </div>
        </div>
        <div class="setting">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="cbTalkingInitiative" {% if settings.talkingInitiative == True %}checked{% endif %}>
                <label class="custom-control-label" for="cbTalkingInitiative"><strong>&nbsp;Quasselstrippenmodus</strong></label>
            </div>
            <p>Wenn du dieses Häkchen entfernst, dann wird {{ meta.title }} nur noch auf Anfrage reden - nämlich wenn jemand in der webApp auf einen Button klickt.</p>
        </div>
        <div class="setting">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="cbRemoteSSH" {% if settings.remoteSSH == True %}checked{% endif %}>
                <label class="custom-control-label" for="cbRemoteSSH"><strong>&nbsp;Remote SSH aktivieren</strong></label>
            </div>
            <p>Hiermit wird die Fernwartung ermöglicht, indem ein verschlüsselter SSH-Tunnel zu einem Wartungsserver aufgebaut und offen gehalten wird. Änderungen werden erst nach bis zu 5 Minuten wirksam.</p>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
